.about-container {
  padding: 2rem;
  text-align: center;
}

.about-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #d35400;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-text {
  max-width: 500px;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  color: yellow;
}

.about-image img {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}


.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e6cc28;
}

.about-main {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.about-texts {     
   display: flex;
  flex-direction: column; /* stack paragraphs vertically */
  align-items: flex-end;  /* move all to the right */
  text-align: right;      /* align text inside to the right too */
  margin-top: -440px;
  margin-left: 430px;
  margin-right: 0px;
}

.about-portrait {
  flex: 1;
}

.about-portrait img {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 65px;
  width: 410px;
  height: 440px;
  object-fit: cover;
}

.about-bottom {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-bottom-text {
  flex: 2;
  font-size: 1.05rem;
  line-height: 1.5;
}

.about-group {
  flex: 1;
}

.about-group img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  position: relative;
  top: 40px;
}
